/* Layout
================================ */

body {
	padding-top: 50px;
}
.container {
	max-width: 1000px;
}

#footer {
	text-align: center;
}

/* Jumbotron
================================ */

.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

/* Flaticons
================================ */

#profile-main img {
	display: block;
	margin: 0 auto;
	position: relative;
}

.profile-icon {
	height: 16%;
	width: 16%;
	transition-duration: 0.5s;
}

.profile-icon.pop {
	height: 20%;
	width: 20%;
}


/* Profile 
================================ */

#profile-main h2 {
	text-align: center;
}

#profile-main {
	margin-top: 30px;
}

#profile-secondary {
	display: block;
	position: relative;
}


/* Carousel
================================ */

.carousel-indicators {
	bottom: 0;
}
.carousel-indicators .active {
	background-color: #222;
}
.carousel-indicators li {
	border-color: #222;
}

.carousel-inner img {
	border-radius: 8px;
}

/* Text
================================ */

.emphasis {
	font-style: italic;
}

/* About
================================ */

#panda {
	height: 65%;
	width: 65%;
	position: relative;
	transition-duration: 1s;
}

#panda.clicked {
	margin-top: 80px;
	height: 90%;
	width: 90%;
	transition-duration: 1s;
}



